<!--<mat-tab-group>-->
<!--  <mat-tab label="Choose Input"> Content 1 </mat-tab>-->
<!--  <mat-tab label="Detector"> Content 2 </mat-tab>-->
<!--  <mat-tab label="Output"> Content 3 </mat-tab>-->
<!--</mat-tab-group>-->

<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choose Input</ng-template>
      <mat-form-field>
        <div class="formInput">
          <mat-label>Source Name</mat-label>
          <input matInput placeholder="Ex: Gate 1" formControlName="source_name" required>
        </div>
        <div class="formInput">
          <mat-label>Source Type</mat-label>
          <mat-select formControlName="source_type" required>
            <mat-option *ngFor="let source of sources" [value]="source">
              {{source}}
            </mat-option>
          </mat-select>
        </div>

        <div class="formInput">
          <mat-label>USB Device</mat-label>
          <mat-select formControlName="usb_device">
            <mat-label>USB Device</mat-label>
            <mat-option *ngFor="let device of usbDevices" [value]="device.path">
              {{device.path}}
            </mat-option>
          </mat-select>
        </div>

      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Choose Processor</ng-template>
      <mat-form-field>
        <mat-label>Processor</mat-label>
        <mat-select formControlName="processor">
          <mat-option *ngFor="let processor of processors" [value]="processor.name">
            {{processor.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choose Output</ng-template>
    <form [formGroup]="thirdFormGroup">
      <mat-label>Output</mat-label>
      <mat-select formControlName="output">
        <mat-option *ngFor="let output of outputs" [value]="output.name">
          {{output.name}}
        </mat-option>
      </mat-select>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

