<div style="margin:30px;">
  <mat-grid-list cols="3">
    <mat-grid-tile [colspan]="1">
      <mat-card>
        <mat-card-title>
          Settings
        </mat-card-title>
        <mat-card-content>
          <mat-action-list>
            <button mat-list-item (click)="save()"> Account </button>
            <button mat-list-item (click)="undo()"> Billing </button>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
        <mat-card>
          <mat-card-title>
            Settings
          </mat-card-title>
          <mat-card-content>
            Name: <br>
            Email: <br>
            Company: <br>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>