<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Pipelines
        </mat-card-title>
        <mat-card-content>
          5 pipelines open.
        </mat-card-content>
        <mat-card-actions>
          <a [routerLink]="['/pipes/manager']">
            <button mat-button>
              Pipeline Manager
            </button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Datasets
        </mat-card-title>
        <mat-card-content>
          5 datasets.
        </mat-card-content>
        <mat-card-actions>
          <a [routerLink]="['/dataset/manager']">
            <button mat-button>
              Dataset Manager
            </button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
